<header class="mdc-toolbar  mdc-toolbar--fixed mdc-toolbar--waterfall" data-mdc-auto-init="MDCToolbar">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a class="material-icons mdc-toolbar__menu-icon mdc-ripple-surface" href="#" aria-label="Click to show the navigation menu"
                aria-controls="nav-menu" data-mdc-auto-init="MDCRipple" data-mdc-ripple-is-unbounded>menu</a>
                <h1 class="mdc-toolbar__title"><span>Updated</span></h1>
            </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Download" alt="Download">file_download</a>
            <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Print this page" alt="Print this page">print</a>
            <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a>
        </section>
    </div>
</header>