<header id="shrine-header" class="mdc-top-app-bar mdc-theme--text-primary-on-background">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a id="shrine-nav-icon" href="#" class="material-icons mdc-ripple-surface mdc-top-app-bar__navigation-icon"
                aria-label="Click to show the navigation menu" aria-controls="shrine-nav-menu" data-mdc-auto-init="MDCRipple"
                data-mdc-ripple-is-unbounded>menu</a>
            <span id="shrine-logo" class="mdc-top-app-bar__title">
                <span>Shrine</span>
            </span>
        </section>
    </div>
</header>